/* body{
    background-color: #3C3C3C;
} */

.s{
    font-size: 20px;
    font-style: italic;
    font-family: math;
}

textarea{
    resize: none;
    background-color: #f8f8f8;
    border-radius: 6px;
    font-family: math;
    font-size: 18px;
}

.x{

    font-family: math;
}